*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

.navbar {
  height: 70px;
  background-color: yellowgreen;
  display: flex;
  color: white;
  justify-content: space-around;
  margin-bottom: 20px;
}

.navbar  li {
  list-style: none;
  margin-top: 20px;
}
#form-contacto {

}

.form-row {
  background: lightgray;
  padding: 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.form-titulo{
  text-align: center;
}

.form-titulo h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: darkslategrey;
}

.form-fila {
  width: 75%;
  margin-top: 15px;
}

.form-fila input {
  font-size: 16px;
  height: 30px;
  width: 100%;
}

#consulta {
  font-size: 16px;
  height: 100px;
  width: 100%;
  resize:none;
  background-color:#F7F2E0;
}

#boton-consulta {
  font-size: 16px;
  height: 55px;
  width: 220px;
  font-weight: lighter;
  color: #ffffff;
  background: linear-gradient(0deg, #1b165a, #3c26b9 );
  border: 0;
  border-radius: 8px;
  margin: auto;
}


/*Comienzo Footer*/

footer{
  background-color: blue;
  height: 55px;
  width: 100%;
  color: white;
  text-align: center;
  bottom: 0;
  position: absolute;
}

/*Fin Footer*/