/*archivo css de la version personalizada del juego Mini Damas*/

/*parametros generales*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    background-color: #aaaaaa;
    background-attachment: fixed;
    background-size: cover;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
  }
  
  .container {
    width: 85%;
    
  }
  
  /*encabezado - menu*/
  header {
    width: 100%;
    background: #4e94ab;
  }
  
  #btn-menu {
    display: none;
  }
  
  header label {
    display: none;
    width: 50px;
    padding: 10px;
    border-right: 1px solid #fff;
  }
  
  header label img {
    width: 30px;
    height: 30px;
    opacity: 0.4;
  }
  
  header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .menu li {
    border-right: 1px solid #fff;
  }
  
  .menu li:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
  }
  
   /* pagina de reglas */

   
   #texto-reglas {
    width: 80%;
    padding: 20px;
    margin: auto;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
   
  }
  
  /*footer*/

  
  #main-footer {
    background: #333;
    color: #fff;
    padding: 34px;
    bottom: 0;
    width: 100%;
    height: 170px;
    
  }
  
  #main-footer a {
    color: #fff;
    text-decoration: none;
  }
  
  #main-footer a:hover {
    font-weight: bold;
    text-decoration: none;
  }
  
  #main-footer abbr {
    text-decoration: none;
  }
  
  #datos-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #linkGithub {
    height: 30px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  #imgGitHub {
    height: 25px;
  }
  /*Fin Footer*/
  
 
  
  
  /*media queries - comportamiento responsivo*/
  @media (max-width: 1024px) {
    .row {
      width: 100%;
    }
  }
  
  @media (max-width: 880px) {
    .row {
      width: 100%;
      display: block;
      margin: auto;
    }

    #main-footer {
      background: #333;
      color: #fff;
      padding: 34px;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 170px;
      
    }
  
    #juego-damas {
      width: 100%;
      padding: 0px;
    }
  
    aside#menu-tablero {
      width: 100%;
      margin: auto;
    }
  }
  
  @media (max-width: 768px) {
    #juego-damas {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .casilla-blanca {
      width: 50px;
      height: 50px;
    }
  
    .casilla-negra {
      width: 50px;
      height: 50px;
    }
  
    .ficha-blanca {
      background-image: url(../img/FichaGrisChico.png);
    }
  
    .ficha-negra {
      background-image: url(../img/FichaRojoChico.png);
    }
  
    header label {
      display: block;
    }
  
    .menu {
      position: absolute;
      background: #4e94ab;
      width: 150px;
      margin-left: -150px;
      transition: all 0.5s;
    }
  
    .menu ul {
      flex-direction: column;
    }
  
    .menu li {
      border-top: 1px solid #fff;
    }
  
    #btn-menu:checked ~ .menu {
      margin: 0;
    }
  
    .form-fila {
      width: 100%;
    }
  
    .form-row {
      width: 100%;
    }
  
    #boton-consulta {
      width: 100%;
    }
    #main-footer {
      background: #333;
      color: #fff;
      padding: 34px;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 170px;
      
    }
  }
  