*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

/*Comienzo Estilos Navbar*/
.navbar {
    height: 70px;
    background-color:yellowgreen;
    display: flex;
    color: white;
    justify-content: space-around;
    margin-bottom: 20px;
    
}

.navbar  li {
    list-style: none;
    margin-top: 20px;
}

/*Fin Estilos Navbar*/

/*Comienzo Estilos Body*/

section {
    display: flex;
    justify-content: space-around;
    margin-top: 1px;
}

/*Fin Estilos Body*/

/* Comienzo Estilos Botones*/

.containerbutton{
    text-align: center;    
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.containerbutton button{
    text-align: center;
    height: 30px;
    justify-content: space-around;
    margin-left: 30px;
    background-color: #D8BFD8;   
    border-radius: 5px;
    
}

/* Fin  Estilos Botones*/

/*Comienzo Footer*/

footer{
    background-color: blue;
    height: 55px;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
}

/*Fin Footer*/

/*Comienzo Estilos Tablero*/
#tablero {
    display: inline-block;
    border:5px solid;
    
}
.fila {
    background-color: white;
    display: table;
}
.recuadro {
    width:50px;
    height:50px;
    float:left;
}
.fila:nth-child(odd) .recuadro:nth-child(even),
.fila:nth-child(even) .recuadro:nth-child(odd) {
    background-color: #999;
}

.fichablanca {
    background-image: url(../img/FichaGris.png);
}

.fichanegra {
    background-color:url(../img/FichaRojo.png) ;
}

/*Fin Estilos Tablero*/