*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

footer{
    background-color: blue;
    height: 55px;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.navbar {
    height: 70px;
    background-color:yellowgreen;
    display: flex;
    color: white;
    justify-content: space-around;
    margin-bottom: 20px;
    
}

.navbar  li {
    list-style: none;
    margin-top: 20px;
}

#texto-reglas {
    padding-left: 40px;
    padding-right: 40px;
}